@import "tailwindcss";

/* Estilos para modo claro (por defecto) */
@media (prefers-color-scheme: light) {
  :root {
    --background: 255 255 255;
    --foreground: 17 24 39;
  }
}

/* Estilos para modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: 15 15 15;
    --foreground: 245 245 245;
  }
}

/* Estilos para el modo claro cuando se activa con la clase .light */
.light {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

/* Estilos para el modo oscuro cuando se activa con la clase .dark */
.dark {
  --background: 15 15 15;
  --foreground: 245 245 245;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* Aplicar transiciones suaves para cambios de tema */
* {
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
